mixin button()
  - let _url = attributes.url || "javascript:;"
  - let _id = attributes.id
  - let _class = attributes.class || ""
  - let _ref = attributes.ref || "nofollow"
  - let _target = attributes.target
  - let _title = attributes.tooltip
  a(
    href=_url,
    id=_id,
    class=["button",_class].join(" "),
    ref="",
    target="",
    title=""
  )