mixin inputField(_type = "text", _id = "", _class = "", _placeholder = "", _required = false, _prefix = "")
  - let prefixed = (_prefix) ? `${_prefix}-input` : ""
  - let classes = [`app-input input-field`, prefixed, _class, moreClasses]

  .app-input-body
    input(
      type=_type,
      id=_id,
      name=_id,
      class=classes
      placeholder=_placeholder
      required=(_required)?"true":false
    )

mixin input(...args)
  if attributes.unwrap
    +inputField(...args)
  else
    .app-input-wrapper(class=attributes.class) #[+inputField(...args)]

mixin labeledInput(_text="", ...args)
  .app-input-wrapper(class=attributes.class)
    label.app-input-label=_text
    +input(...args)(unwrap=true)